body {
    background: url("../images/5711.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.col-8 {
    background-color: azure;
    margin-top: 50px;
    border: solid black 2px;
}

p {
    font-size: 18px;
}

#ruby {
    width: 50px;
    height: 30px;
    background-color: red;
}

#diamond {
    width: 50px;
    height: 30px;
    background-color: snow;
}

#yellow {
    width: 50px;
    height: 30px;
    background-color: yellow;
}

#green {
    width: 50px;
    height: 30px;
    background-color: green;
}



 